<div class="row">
  <div class="col-xs-12 offset-md-3 col-md-6">
    <form (submit)="submit()" class="form" [formGroup]="form">

      <div class="form-group">
        <label for="password-input">Contraseña:</label>
        <input id="password-input" type="password" class="form-control"
        [ngClass]="{'is-valid': form.controls.password.valid, 'is-invalid': !form.controls.password.valid }"
        formControlName="password">
        <div *ngIf="form.controls.password.valid" class="valid-feedback">
          Contraseña cumple los requisitos de seguridad!.
        </div>
      </div>

      <div class="form-group">
        <label for="passwordRepeat-input">Repita Contraseña:</label>
        <input id="passwordRepeat-input" type="password" class="form-control" formControlName="passwordRepeat"
        [ngClass]="{'is-valid': form.controls.passwordRepeat.valid, 'is-invalid': !form.controls.passwordRepeat.valid }">
        <div *ngIf="!form.controls.passwordRepeat.valid" class="invalid-feedback">
          Las contraseñas son diferentes!..
        </div>
        <div *ngIf="form.controls.passwordRepeat.valid" class="valid-feedback">
          La contraseña coincide..
        </div>
      </div>

      <div class="form-group">
        <button type="submit"  class="btn btn-success float-right">
          Submit
        </button>
      </div>

    </form>
  </div>
</div>

<pre> {{ form.value | json }}</pre>
{{ form.controls.password.valid }}