<!-- <div class="container">
  <div class="form-group">
    <label for="">Usuario</label>
    <input type="text" class="form-control" aria-describedby="usuarioHelp" placeholder="Usuario"
      [(ngModel)]="user.usuario">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password">
  </div>
  <button [hidden]="(isLoading$ | async)" (click)="login()" class="btn btn-primary">Submit</button>
  <div [hidden]="!(isLoading$ | async)" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
</div>

<pre>
  {{ error$ | async | json }}
</pre>

<pre>
  {{ isLoading$ | async | json }}
</pre>

<pre>
  {{ auth$ | async | json }}
</pre> -->

<div class="flex-container" fxLayout="column">
  <button (click)="home()" fxFlexAlign="center" class="logo-container">
    <div class="logo"></div>
  </button>
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%" fxFlex.xl="50%" >
      <mat-card>
        <mat-card-title>Inicio de Sesión</mat-card-title>
        <mat-card-content>
          <div *ngIf="error | async" color="error">{{ error | async }}</div>
          <form *ngIf="!(loading | async)" (ngSubmit)="login()" [formGroup]="form" novalidate>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-form-field>
                <input matInput required placeholder="Usuario" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="usuario">
              </mat-form-field>
              <mat-form-field>
                <input matInput required type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="password">
              </mat-form-field>
              <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit">Iniciar Sesion</button>
            </div>
          </form>
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>