<div *ngIf="products">
  <div class="row row-title">
    <div class="border-prescricion col-md-12">
      <h1 class="text-center display-5">PRODUCTOS DE SOPORTE NUTRICIONAL</h1>
    </div>
  </div>
  <div class="row">
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Tipo prestación</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-2">
      <blockquote class="blockquote">
        <p class="mb-0">Producto de Soporte</p>
        <p class="mb-0">Nutricional / Forma</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Dosis</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Vía Administración</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Frecuencia Administración</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-2">
      <blockquote class="blockquote">
        <p class="mb-0">Indicaciones Especiales</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Duración Tratamiento</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Recomendaciones</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Cantidades Farmacéuticas</p>
        <p class="mb-0">Nro / Letras / Unidad Farmacéutica</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">Acciones</p>
      </blockquote>
    </div>
  </div>
  <div *ngFor="let product of products;" class="row">
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p *ngIf="tipoPrestacion" class="mb-0">{{ product.TipoPrest | matchValue:[tipoPrestacion, 'descripcion'] }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-2">
      <blockquote class="blockquote">
        <p class="mb-0">{{ product.tipoProductoNutricional.descripcion | uppercase }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">{{ product.Dosis }} {{ product.unidadMedidaDosis.descripcion | uppercase }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p *ngIf="viaAdministracion" class="mb-0">
          {{ product.CodViaAdmon | matchValue:[viaAdministracion, 'descripcion'] }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p *ngIf="frecuenciasAdministracion" class="mb-0">{{ product.NoFAdmon }}
          {{ product.CodFreAdmon | matchValue:[frecuenciasAdministracion, 'descripcion'] }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-2">
      <blockquote class="blockquote">
        <p *ngIf="indicacionesEspeciales" class="mb-0">
          {{ product.IndEsp | matchValue:[indicacionesEspeciales, 'descripcion'] }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p *ngIf="frecuenciasAdministracion" class="mb-0">
          {{ product.CanTrat }}
          {{ product.DurTrat | matchValue:[frecuenciasAdministracion, 'descripcion'] }}
        </p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0">{{ product.IndRec | uppercase }}</p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p *ngIf="presentaciones" class="mb-0">
          {{ product.CantTotalF }} / {{ product.CantTotalF }} /
          {{ product.UFCantTotal | matchValue:[presentaciones, 'descripcion'] }}
        </p>
      </blockquote>
    </div>
    <div class="border-prescricion col-md-1">
      <blockquote class="blockquote">
        <p class="mb-0"><a class="btn btn-outline-success" [routerLink]="['/entrega/' + medicine.id]">Entregar</a></p>
      </blockquote>
    </div>
  </div>
</div>