<form (submit)="submit()" class="form" [formGroup]="form">

  <div class="form-group">
    <label for="id-input">ID:</label>
    <input id="id-input" type="number" class="form-control" formControlName="id" disabled>
  </div>

  <div class="form-group">
    <label for="usuario-input">Usuario:</label>
    <input id="usuario-input" type="text" class="form-control" formControlName="usuario">
  </div>

  <div class="form-group">
    <label for="name-input">Nombre:</label>
    <input id="name-input" type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label for="email-input">Correo:</label>
    <input id="email-input" type="text" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label for="rol-input">Rol:</label>
    <input id="rol-input" type="text" class="form-control" formControlName="rol">
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="!form.valid" class="btn btn-success float-right">
      Submit
    </button>
  </div>

</form>