<div class="ambito-details-container" *ngIf="ambito">
  <div class="card">
    <div class="card-header">
      Ambito
    </div>
    <div class="card-body">
      <p>ID: <span class="badge badge-primary">{{ambito.id}}</span></p>
      <p>Descripcion: <span class="badge badge-primary">{{ambito.descripcion}}</span></p>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="edit.emit(ambito)" class="btn btn-sm btn-outline-warning"> EDIT</button>
        <button (click)="remove.emit(ambito)" class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>

    </div>
  </div>
</div>