<form (submit)="submit()" class="form" [formGroup]="form">

  <div class="form-group">
    <label for="id-input">ID:</label>
    <input id="id-input" type="number" class="form-control" formControlName="id">
  </div>

  <div class="form-group">
    <label for="Descripcion-input">Descripcion:</label>
    <input id="Descripcion-input" type="text" class="form-control" formControlName="descripcion">
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="!form.valid" class="btn btn-success float-right">
      Submit
    </button>
  </div>

</form>